<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>손가락 압력 측정 결과</title>
    <script th:inline="javascript" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript" type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var thumb = [];
            var index = [];
            var middle = [];
            var ring = [];
            var little = [];

            thumb[0] = '엄지';
            index[0] = '검지';
            middle[0] = '중지';
            ring[0] = '약지';
            little[0] = '새끼';

            /*[# th:each ="p : ${pressures}"]*/
            thumb[1] = /*[[${p.thumb}]]*/;
            index[1] = /*[[${p.indexFinger}]]*/;
            middle[1] = /*[[${p.middleFinger}]]*/;
            ring[1] = /*[[${p.ringFinger}]]*/;
            little[1] = /*[[${p.littleFinger}]]*/;
            /*[/]*/

            /*[# th:each ="c : ${criteria}"]*/
            thumb[2] = /*[[${c.thumb}]]*/;
            index[2] = /*[[${c.indexFinger}]]*/;
            middle[2] = /*[[${c.middleFinger}]]*/;
            ring[2] = /*[[${c.ringFinger}]]*/;
            little[2] = /*[[${c.littleFinger}]]*/;
            /*[/]*/

            var data = google.visualization.arrayToDataTable([
                ['손가락', '사용자', '정상'],
                thumb, index, middle, ring, little
            ]);

            var options = {
                title: '손가락 압력 그래프',
                hAxis: {title: '압력', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0, maxValue: 50}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="chart_div" style="width: 100%; height: 500px;"></div>
<div id="flex_table">
    <table>
        <tr>
            <th>엄지</th>
            <th>검지</th>
            <th>중지</th>
            <th>약지</th>
            <th>새끼</th>
        </tr>
        <tr th:each="f : ${flexes}">
            <td th:text="${f.thumb}"></td>
            <td th:text="${f.indexFinger}"></td>
            <td th:text="${f.middleFinger}"></td>
            <td th:text="${f.ringFinger}"></td>
            <td th:text="${f.littleFinger}"></td>
        </tr>
    </table>
</div>
</body>
</html>