<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>손가락 압력 측정 결과</title>
    <script th:inline="javascript" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript" type="text/javascript">
        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Day');
            data.addColumn('number', '엄지');
            data.addColumn('number', '검지');
            data.addColumn('number', '중지');
            data.addColumn('number', '약지');
            data.addColumn('number', '새끼');

            /*[# th:each ="p : ${pressures}"]*/
            var finger = [];
            finger[0] = /*[[${#temporals.format(p.date, 'MM/dd')}]]*/;
            finger[1] = /*[[${p.thumb}]]*/;
            finger[2] = /*[[${p.indexFinger}]]*/;
            finger[3] = /*[[${p.middleFinger}]]*/;
            finger[4] = /*[[${p.ringFinger}]]*/;
            finger[5] = /*[[${p.littleFinger}]]*/;
            data.addRows([
                [finger[0], finger[1],finger[2],finger[3],finger[4],finger[5]]
            ]);
            /*[/]*/

            var options = {
                chart: {
                    title: '손가락 압력 측정 결과',
                    subtitle: '최근 5일치'
                },
                width: 900,
                height: 500,
                vAxis: {
                    viewWindow: {
                        min: 0,
                        max: 40
                    },
                    ticks: [0, 5, 10 ,15, 20 ,25, 30, 35, 40]
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
<div id="line_top_x"></div>
</body>
</html>